<nav class="vw-100 px-5 py-1 d-flex justify-content-between align-items-center shadow">
	<ul class="navbar-nav d-flex flex-row gap-3 m-0">
		<li class="nav-item py-2">
			<a class="nav-link text-white fs-6" href="/">home</a>
		</li>
		<li class="nav-item py-2">
			<a class="nav-link text-white fs-6" href="/about">about</a>
		</li>
		<li class="nav-item py-2">
			<a class="nav-link text-white fs-6" href="/contacts">contacts</a>
		</li>
	</ul>
	<ul class="nav-item py-2 m-0">
		<button class="fs-6 fw-bold btn btn-success" data-bs-toggle="modal" data-bs-target="#loginModal">join a public chatroom</button>
	</ul>
</nav>
