<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<script src="/socket.io/socket.io.js"></script>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div class="container">
			<h1>Hello</h1>
			<div class="chat-menu">
				<input class="text-field" type="text" />
				<button class="send-btn">Send</button>
			</div>
		</div>
		<script>
			var socket = io()

			var textField = document.getElementsByClassName('text-field')[0]
			var sendButton = document.getElementsByClassName('send-btn')[0]

			sendButton.onclick = () => {
				if (textField.value) {
					socket.emit('chat message', textField.value)
					textField.value = ''
				}
			}

			socket.on('chat message', function (msg) {
				document.getElementsByTagName('h1')[0].textContent = msg
			})
		</script>
	</body>
</html>
