<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<script src="/socket.io/socket.io.js"></script>

		<!-- Fontawesome -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
		<link rel="stylesheet" href="css/style.css" />
		<link rel="stylesheet" href="css/custom-ui.css" />
		<link rel="stylesheet" href="css/override.css" />
	</head>
	<body>
		<header class="container">
			<h2>chatroom <i class="fa-solid fa-comment"></i></h2>
		</header>
		<main class="container">
			<div id="chat-logs"></div>
			<template user-connect>
				<i>A user connected!</i>
				<br />
			</template>
			<template messages>
				<i class="fa fa-user"></i>
				<p></p>
				<br />
			</template>
			<div class="chat-menu">
				<input id="text-field" class="form-control" type="text" placeholder="meow mow..." />
				<button id="send-btn" class="btn btn-success"><i class="fa-solid fa-paper-plane"></i></button>
			</div>
		</main>
		<script>
			var socket = io()

			const textField = document.getElementById('text-field')
			const sendButton = document.getElementById('send-btn')

			const messageTemplate = document.querySelector('[messages]')
			const chatLogs = document.getElementById('chat-logs')

			const userConnectTemplate = document.querySelector('[user-connect]')

			function submitMessage() {
				socket.emit('chat message', textField.value)
				textField.value = ''
			}

			sendButton.onclick = function () {
				if (textField.value.trim()) submitMessage()
			}

			document.addEventListener('keyup', function (event) {
				if (event.keyCode === 13) {
					submitMessage()
				}
			})

			socket.on('chat message', function (msg) {
				const template = messageTemplate.content.cloneNode(true)
				const message = template.children[1]
				message.textContent = msg
				chatLogs.append(template)
			})

			socket.on('user connect', () => {
				const template = userConnectTemplate.content.cloneNode(true)
				chatLogs.append(template)
			})
		</script>
	</body>
</html>
