@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap');

* {
	font-family: 'Inter', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 900;
	color: #303030;
}
header {
	width: 100%;
	padding: 0.5rem 1rem;
}
p {
	padding: 0.5rem 1rem;
	display: inline-block;
	background-color: #d0d1e0;
	border-radius: 20px;
	max-width: 80%;
	margin: 0.15rem 0;
	word-break: break-all;
	color: #303030;
}

#chat-logs {
	height: 75vh;
	overflow-y: scroll;
}
#chat-logs::-webkit-scrollbar-track {
	background-color: #ededf5;
}
#chat-logs::-webkit-scrollbar {
	width: 0.55rem;
}
#chat-logs::-webkit-scrollbar-thumb {
	border-radius: 0.35rem;
	background-color: #d3d3ec;
}
.chat-menu {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1rem;
	padding: 1rem;

	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	box-shadow: 0 -5px 5px 0 rgba(0, 0, 0, 0.1);
}
.form-control {
	border-radius: 20px;
}
