<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>contacts | genebit</title>
		<%- include("../partials/head") %>
	</head>
	<body>
		<%- include("../partials/top-navbar") %>
		<header class="vw-100 bg-dark p-5 text-center d-flex justify-content-center align-items-center" style="height: 50vh">
			<h1 class="fw-bolder">contact us!</h1>
		</header>
		<div class="container">
			<div class="text-white">
				<div class="row mt-5">
					<div class="col-md-4">
						<h3 class="fw-bold"><i class="fa-brands fa-github"></i> View Source Code</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nihil rem culpa asperiores iusto, dolores minima quam molestiae animi commodi accusantium ratione porro sint expedita delectus doloremque ab fuga voluptatum!</p>
					</div>
					<div class="col-md-4">
						<h3 class="fw-bold"><i class="fa-brands fa-github"></i> View Source Code</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nihil rem culpa asperiores iusto, dolores minima quam molestiae animi commodi accusantium ratione porro sint expedita delectus doloremque ab fuga voluptatum!</p>
					</div>
					<div class="col-md-4">
						<h3 class="fw-bold"><i class="fa-brands fa-github"></i> View Source Code</h3>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem nihil rem culpa asperiores iusto, dolores minima quam molestiae animi commodi accusantium ratione porro sint expedita delectus doloremque ab fuga voluptatum!</p>
					</div>
				</div>
			</div>
		</div>
		<%- include("./_login-modal") %>
	</body>
</html>
