<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>home | genebit</title>
		<%- include("../partials/head") %>
	</head>
	<body>
		<%- include("../partials/top-navbar") %>
		<div class="vw-100">
			<header class="w-100 bg-dark p-5 text-center d-flex justify-content-center align-items-center" style="height: 50vh">
				<div class="text-white">
					<h1 class="fw-bolder">connect with people all around the world!</h1>
					<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facilis, provident!</p>
					<button class="btn btn-lg btn-outline-light">join a public chatroom now!</button>
				</div>
			</header>
		</div>
		<%- include("./_login-modal") %>
	</body>
</html>
