<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>chatroom | genebit</title>
		<%- include("../partials/head") %>
		<style>
			#messageLogs {
				border-radius: 5px;
				background-color: #15181f;
				overflow-y: scroll;
			}
			#messageLogs::-webkit-scrollbar {
				width: 0.5rem;
			}
			#messageLogs::-webkit-scrollbar-thumb {
				background-color: #198754;
				border-radius: 5px;
			}
			#messageLogs::-webkit-scrollbar-track {
				background-color: rgba(0, 0, 0, 0.3);
				border-radius: 5px;
			}
			@media screen and (max-width: 710px) {
				main.container {
					width: 75% !important;
				}
				footer.container {
					width: 100% !important;
				}
			}
		</style>
	</head>
	<body>
		<input id="__username" type="text" value="<%= username %>" hidden>
		<main class="container py-4 w-50 vh-100 bg-dark d-flex justify-content-between flex-column shadow">
			<header class="w-100 d-flex justify-content-center align-items-center">
				<ul class="list-unstyled d-flex flex-row gap-3 m-0">
					<li class="mx-3">
						<a class="fw-bolder text-white fs-4" href="#">
							public group chat
							<i class="fa-solid fa-comments"></i>
						</a>
					</li>
				</ul>
			</header>
			<main id="messageLogs" class="rounded w-100 h-75 text-white p-4">
				<template message>
					<p class="py-2 px-3 mw-auto rounded bg-success">
						<small  class="fw-bold"><i class="fas fa-user"></i><%= username %></small>: 
						<span class="__message"></span>
					</p>
				</template>
				<template user-connected-message>
					<p class="py-0 px-3 rounded">
						<small class="text-muted"><b><%= username %></b> joined the group chat!</small>
						<hr class="text-muted">
					</p>
				</template>
				
			</main>
			<footer class="container w-75">
				<div class="input-group w-100 mx-auto">
					<input id="messageField" type="text" class="form-control" placeholder="type your message here..." />
					<button id="sendButton" class="btn btn-success" type="button">
						send
						<i class="fa-solid fa-paper-plane"></i>
					</button>
				</div>
			</footer>
		</main>
		<script src="/socket.io/socket.io.js"></script>
		<script>
			var socket = io.connect()

			// message form
			const sendButton = document.getElementById("sendButton")
			
			function submitMessage() {
				const messageField = document.getElementById("messageField").value.trim()

				socket.emit("chatMessage", messageField)
				messageField.value = ""
			}

			socket.on("chatMessage", (msg) => {
				const messageTemplate = document.querySelector("template[message]")
				const chatLogs = document.getElementById("#messageLogs")

				const template = messageTemplate.content.cloneNode(true)
				const message = template.querySelector("#__message")
				message.textContent = msg
				chatLogs.append(template)
			})

			sendButton.onclick = () => {
				submitMessage()
			}

			// On pressed enter key
			document.addEventListener("keyup", (event) => {
				if (event.keyCode === 13) {
					submitMessage()
				}
			})
		</script>
	</body>
</html>
